.post{
    width: 70%;
    margin-left: 20%;
    margin-top: 20px;
    color: wheat;
}

.post01{
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px;
    background-color: black;
}

.post01 div{
    padding: 10px;
    margin:20px;
}
